.com{
  border: 1px solid black;
  border-radius: 10px;
}
.com-cab{
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.com-cuer img{
  border-radius: 5px;
}
.com-cuer{
  max-height: 450px;
  overflow: auto;
}
.resp{
   margin-top: -.8rem;
   display: flex;
   flex: wrap;
   justify-content: space-between;
   align-items: center;
}
.ico-s{
   width: .8rem;
   height: 50%;
   min-height: 100px;
   border-left: 1px solid black;
   border-bottom: 1px solid black;
   border-radius: 0px 0px 0px 8px;
   margin-left: .4rem;
}
.resp .art{
   width: calc(100% - 1.8rem);
}
.art{
  box-shadow: 0px 2px 3px 1px black;
  border-radius: 5px;
}
.art:first-child{
  margin-top: 0px !important;
  border-radius: 0px 0px 5px 5px;
}
.art:last-child{
  margin-bottom: 3px !important;
  border-radius: 5px 5px 10px 10px;
}
.fech{
  text-align: right;
}